/* --- reset --- */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

a {
	color: inherit;
	text-decoration: underline;
}

/* --- structure --- */

body {
	margin: 10px;
	min-width: 180px;
	max-width: 300px;
}

/* --- typography --- */

body {
	font: 14px/20px sans-serif;
}

h1, p, pre, table, section {
	margin: 0 0 10px;
}

pre {
	background: #eee;
	padding: 5px 10px;
	font: 11px/15px monospace;
}

/* --- nav --- */

nav {
    border: 1px solid #bbb;
    border-width: 1px 1px 0;
    border-radius: 2px;
    overflow: hidden;
}

nav article {
	position: relative;
	overflow: hidden;
}

nav article header, nav article description {
	background: #fcfcfc;
	display: block;
}

nav article header {
	color: #000;
	cursor: pointer;
	padding: 0 30px 0 10px;
	line-height: 26px;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-shadow: 0 1px #fff;
	box-shadow: inset 0 -1px 0 #bbb, inset 0 -20px 20px -10px rgba(0,0,0,.1);
	-webkit-transition: box-shadow .2s ease;
	transition: box-shadow .2s ease;
	-webkit-user-select: none;
	user-select: none;
}

nav article description {
	font-size: 11px;
	line-height: 18px;
	padding: 0;
	color: #666;
	height: 0;
	padding: 0 10px;
	box-shadow: inset 0 -1px 0 #bbb;
	overflow: hidden;
	background: #fafafa;
	text-shadow: 0 2px #fff;
}

.toggle, label[for="cleartoggle"] {
	display: none;
}

nav article label {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	height: 26px;
	width: 22px;
	text-align: center;
	font: 10px/28px a;
	border-left: 1px solid rgba(0,0,0,.1);
	color: #bbb;
	cursor: pointer;
}

nav article label:before {
	content: "\25bc";
}

nav article .toggle:checked ~ description {
	height: auto;
	padding: 8px 10px;
}

nav article .toggle:checked ~ label:before {
	content: "\25b2";
}

nav article .toggle:checked ~ label[for="cleartoggle"] {
	display: block;
}

nav article:hover header {
	background: #fff;
	box-shadow: inset 0 -1px 0 #bbb, inset 0 -20px 20px -10px rgba(127,127,127,.1);
}

nav article:active header {
    background: #eee;
	box-shadow: inset 0 -1px 0 #bbb, inset 0 20px 20px -10px rgba(0,0,0,.15);
}

/* --- settings --- */

table th {
	white-space: nowrap;
	text-align: inherit;
	padding-right: .5em;
}

/* --- footer --- */

footer {
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	color: #888;
	user-select: none;
}

footer a {
	display: inline-block;
	white-space: nowrap;
	text-decoration: underline;
}

footer a.active {
	font-weight: bold;
	font-style: italic;
}

footer a:after {
	content: "/";
	margin: 0 .5em;
	display: inline-block;
	text-decoration: none;
}

footer a:last-child:after {
	display: none;
}